 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Nanum+Gothic&family=Poppins:wght@400;700&family=Roboto:ital@1&display=swap');


 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    background: #ede9e7;
    font-family: 'Poppins', sans-serif;
 }

 main{
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
 } 